@using Users.Ioc
@using FinalTask.Models
@{ if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/Pages/Allows");
    }
    else
    {
        Layout = "~/Layouts/_AdminLayout.cshtml";

        var analystOperation = DependencyResolver.AnalystLogic;
        if (IsPost)
        {
            string analystid = Request.Form["deleteAnalyst"];
            int y = Int32.Parse(analystid);
            analystOperation.Delete(y);
        }

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="auto">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Age</th>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @{var analystlogic = DependencyResolver.AnalystLogic;
            foreach (var item in analystlogic.GetAll())
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <div>
                            @{if (item.Photo != null)
                                { <img style="width:50px;height:50px;" src="@item.Photo" alt="image" />}
                                else
                                {<img style="width:50px;height:50px;" src="~/Images/thumbs/thumbnail.jpg" alt="image" />}
                            }
                        </div>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                    <td>@item.Birthday.ToString("yyyy-MM-dd")</td>
                    <td>@item.Age</td>
                    <td>@item.Login</td>
                    <td>@item.Password</td>
                    <td>@item.EMail</td>
                    <td>@item.Role</td>
                    <td>
                        <form method="post">
                            <a class="btn btn-sm btn-warning" href="~/Pages/UpdateAnalyst.cshtml?id=@item.Id">Edit</a>
                            <input type="hidden" name="deleteAnalyst" value="@item.Id" />
                            <button type="submit" id="button_value" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
          }
    </tbody>
</table>
    }
}

